/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: Andreia Freitas
Developer @GA in London
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}
/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
body {
	color: #000;
	font-size: 12px;
	line-height: 1.4;
	font-family: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
}
.blog{
	background-color: #f0efef;
}

/********************************************
/*BLOG
/**********************************************/

.introblog{
	width: 100%;
	background-color: #033048;
}

.introblog .blogcontainer {
	width: 940px;
	margin: auto;

}
.introblog .blogcontainer h1{
	color: white;
	font-weight: 800;
	font-size: 48px;
	padding: 30px 0 30px 0;
	float: left;
}
.blogcontainer a{
	font-size: 24px;
	color: #f9e42e;
	text-decoration: none;
}
.blogcontainer ul{
	display: inline;
	float: right;
	padding: 45px 0 10px 0;
}
.blogcontainer li{
	display: inline;
	padding: 20px 10px 20px 10px;
}
.wrapper{
	width: 940px;
	margin: auto;
}
.main{
	width: 700px;
	float: left;
}
.main h2{
	color: #033048;
	font-size: 40px;
	font-weight: 600;
	padding-bottom: 20px;
}
.main .post:first-of-type{
	margin-top: 50px
}
.main img{
	padding: 0 10px 10px 0;
	width: 100%;
}
.main p{
	color: grey;
	font-size: 24px;
	font-weight: 300;
	padding: 0 10px 10px 0;
}
.main p:first-letter {
	color: grey;
	float: left;
	font-size: 80px;
	line-height: 65px;
	padding: 5px 5px 10px 2px;
	font-weight: 600;
}
.main a{
	font-size: 24px;
	font-weight: 600;
	color: #033048;
	text-decoration: none;
	float: right;
}
.hide{
	display: none;
}
.post {
	border-bottom: 2px solid #043049;
	padding-bottom: 50px;
	margin-bottom: 50px;
}
.sidebar{
	color: #033048;
	width: 240px;
	float: right;
	padding-left: 20px;
}
.sidebar h3{
	font-size: 32px;
	font-weight: 800;
	padding: 50px 0 20px 0;
}
.sidebar li{
	font-size: 24px;
	font-weight: 300;

}
.sidebar p{
	font-size: 22px;
	font-weight: 300;
}
.sidebar a{
	font-size: 22px;
	font-weight: 600;
	text-decoration: none;
	color: #033048;
}
.main a:hover, .sidebar a:hover{
	color: yellow;
}
.sidebar .ad-unit{
	font-size: 32px;
	font-weight: 800;
	text-align: center;
	color: #033048;
	background-color: white;
	width:100%;
	height: 500px;
	margin-top: 50px;
	padding-top: 30px;
}

/******************************************
/* LAYOUT
/*******************************************/
.intro {
	background: url(../images/header_bg.jpg) no-repeat center top #033048;
	background-color: #033048;
}
/* Center the container */
.intro .container {
	width: 100%;
	margin: auto;
	height: 500px;
	text-align: center;
}
.intro .container h1 { 
	font-size: 24px;
	font-weight: bolder;
	color: white;
	padding: 50px 0 0 150px;
	text-align: left;
}
.intro .container h2 {
	font-size: 24px;
	font-weight: bolder;
	color: white;
	text-align: center;
	padding: 100px 0 50px 0;
}
.intro .container a {
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #f9e42e;
	color: #033048;
	padding: 10px 40px;
	text-decoration: none;
}
.beneficts{
	padding: 50px 80px;
}
.beneficts h2{
	color: #033048;
	font-size: 20px;
	font-weight: bolder;
	padding-bottom: 10px;
}
.beneficts p {
	width: 320px;
	padding-bottom: 10px; 
}
.beneficts p,.beneficts ul {
	color: #606161;
	font-weight: lighter;
	font-size: 13px;
}
.beneficts ul {
	list-style: disc;
	padding-left: 50px;
}
.quote {
	background: url(../images/testimonial_bg.jpg) no-repeat center top #033048;
	padding: 100px; 
}
.quote blockquote {
	font-weight: lighter;
	font-size: 18px;
	font-style: italic;
	width: 500px;
	color: white;
	margin: 0 auto;
	text-align: center;
}
.quote span {
	font-weight: bolder;
	font-style: initial;
	display:block;
}
.signup{
	background-color: #f9e42e;
	width: 100%;
	padding: 30px;
	text-align: center;
}
.signup a {
	font-weight: bolder;
	font-size: 12px;
	border-radius: 5px;
	margin: 0 auto;
	background-color: #033048;
	color: white;
	padding: 10px 40px;
	text-decoration: none;
}
footer {
	background-color: #121212;
	color: white;
	width: 100%;
}
footer .container {
	margin: 0 auto;
	width: 200px;
	text-align: center;
	padding: 100px 0;
}
footer h2 {
	font-weight: bolder;
	font-size: 24px;
	color: #f9e42e;
	margin-bottom: 50px;
}
footer p {
	font-weight: bold;
	font-size: 9px;
	margin-top: 50px;
}
footer ul li {
	display: inline-block;
	list-style: none;
	margin: 0 20px 50px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
